<div class="col-8">
  <%= simple_form_for [account, garage] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.submit "Add Garage", class: "btn btn-primary btn-block mb-5" %>
  <% end %>
</div>
