<div class="col-8">
  <%= simple_form_for [account, parking_spot] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :price, input_html: { id: 'price-slider' } %>
  <%= image_tag "", width: 200, class: "hidden", id: "photo-preview" %>
  <%= f.input :photo, input_html: { class: 'hidden d-none', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: 'Upload Photo' %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "Add Spot", class: "btn btn-primary btn-block mb-5" %>
  <% end %>
</div>
