<div class="mt-2">
  <div class="col-12 show-parking-spot-img">
    <%= cl_image_tag @parking_spot.photo, width: 350, height: 200, crop: :fill %>
  </div>
  <div class="col-10  parking-info d-flex flex-column">
    <h1><%= @parking_spot.title %></h1>
    <p><%= @parking_spot.address %></p>
    <h3><%= @parking_spot.description %></h3>
    <% unless @parking_spot.user == current_user %>
      <button type="button" class="btn btn-primary btn-block mt-auto mb-2" data-toggle="modal" data-target="#bookParkingSpot">
        Book Spot
      </button>
    <% else @parking_spot.user == current_user %>
      <div class="d-flex">
        <% unless @parking_spot.available %>
          <%= link_to 'Offer Spot', available_parking_spot_path(@parking_spot), class: 'btn btn-primary btn-block mb-2', method: :patch %>
        <% else %>
          <%= link_to 'Take spot off', available_parking_spot_path(@parking_spot), class: 'btn btn-primary btn-block mb-2', method: :patch %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="border mb-5 p-5">
    <div class="reviews" id="reviews">
        <%= render 'reviews/show', parking_spot: @parking_spot %>
    </div>
    <div class="container" id="new_review">
        <%= render 'reviews/form', parking_spot: @parking_spot, review: @review %>
    </div>
  </div>
</div>


<div class="modal fade" id="bookParkingSpot" tabindex="-1" role="dialog" aria-labelledby="bookParkingSpotTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Book a spot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@parking_spot, Booking.new], remote: true) do |f| %>
        <%= f.input :date, as: :string, required: false, placeholder: Date.today, input_html: {class: "datepicker"} %>
        <%= f.input :start_time, as: :string, required: false, input_html: {class: "start_time"} %>
        <%= f.input :end_time, as: :string, required: false, input_html: {class: "end_time"} %>
        <%= f.submit "Park Here!", class: "btn btn-primary btn-block mb-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
