<div class="container">
  <h1><%= @parking_spot.title %></h1>
  <p><%= @parking_spot.address %></p>
  <h3><%= @parking_spot.description %></h3>
  <div class="border mb-5 p-5">
    <div class="reviews" id="reviews">
        <%= render 'reviews/show', parking_spot: @parking_spot %>
    </div>
    <div class="container" id="new_review">
        <%= render 'reviews/form', parking_spot: @parking_spot, review: @review %>
    </div>
  </div>
</div>
