<div class="pt-5">
  <div class="container mt-5">
    <h2 class="text-center">Your Account</h2>
  </div>



  <div class="radio-tabs container">

    <input class="state" type="radio" title="bookings" name="houses-state" id="bookings" checked />
    <input class="state" type="radio" title="listings" name="houses-state" id="listings" />

    <div class="tabs">
        <label for="bookings" id="bookings-tab" class="tab mouse-hover">Bookings</label>
        <label for="listings" id="listings-tab" class="tab mouse-hover">Listings</label>
    </div>

    <div class="panels">
      <ul id="bookings-panel" class="panel active">

        <div class="d-flex justify-content-between mb-3">
          <h3>Your Upcoming Bookings:</h3>
        </div>
        <% unless @upcoming_bookings.empty? %>
          <% @upcoming_bookings.each do |booking| %>
            <div class="card-parking-spot mb-3">
              <%= cl_image_tag booking.parking_spot.photo, height: 300, width: 400, crop: :fill %>
              <div class="card-parking-spot-infos">
                <h2><%= booking.parking_spot.title %></h2>
               <div class="ml-auto d-flex mr-4">
                <h6 class="mt-2">$<%= booking.total_price %></h6>
               </div>
               </div>
              <div class="card-parking-spot-infos">
                <p><strong><%= booking.date.strftime('%e %B') %></strong> <%= booking.start_time.strftime('%T') %> - <%= booking.end_time.strftime('%T') %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="card-parking-spot mb-3">
            <h5 class="m-auto">You have no upcoming bookings.</h5>
          </div>
        <% end %>
        <div class="d-flex justify-content-between mb-3">
          <h3>Your Previous Bookings:</h3>
        </div>
        <% unless @previous_bookings.empty? %>
          <% @previous_bookings.each do |booking| %>
           <div class="card-parking-spot mb-3">
              <%= cl_image_tag booking.parking_spot.photo, height: 300, width: 400, crop: :fill %>
              <div class="card-parking-spot-infos">
                <h2><%= booking.parking_spot.title %></h2>
               <div class="ml-auto d-flex mr-4">
                <h6 class="mt-2">$<%= booking.total_price %></h6>
               </div>
               </div>
              <div class="card-parking-spot-infos">
                <p><strong><%= booking.date.strftime('%e %B') %></strong> <%= booking.start_time.strftime('%T') %> - <%= booking.end_time.strftime('%T') %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="card-parking-spot mb-3">
            <h5 class="m-auto">You have no previous bookings.</h5>
          </div>
        <% end %>
      </ul>
      <ul id="listings-panel" class="panel">
        <h3>Your Parking Spots:</h3>
        <% @parking_spots.each do |parking_spot| %>
          <div class="card-parking-spot mb-3">
            <%= link_to parking_spot_path(parking_spot), class:"d-flex"  do%>
              <%= cl_image_tag parking_spot.photo, height: 300, width: 400, crop: :fill %>
              <div class="card-parking-spot-infos">
                <h2><%= parking_spot.title %></h2>
                <p><%= parking_spot.description %></p>
              </div>
            <% end %>
            <% if parking_spot.available %>
              <%= link_to 'Remove Spot', available_parking_spot_path(parking_spot), class: 'btn btn-primary btn-sm remove-spot-btn', method: :patch, remote: true %>
            <% else %>
              <%= link_to 'Offer Spot', available_parking_spot_path(parking_spot), class: 'btn btn-primary btn-sm offer-spot-btn', method: :patch, remote: true %>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
